body{
  background: ;
}
/* styles for header */

/* styles for main */

/* Styles for elements */

h1{
  text-align: center;
  color: blue;
}


header{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

nav{
  text-align: center;
}

a:hover{
  font-style: italic;
}

article{
  align: center;
  width: 96%;
  background-color:;
  border-style: solid;
  border-width: 50px;
  border-color: ;
  min-height: 500px;
}

footer{
  color: white;
  text-align: center ;
  background-color: rgb(0, 0, 58);
  position: relative;
  margin-top: -180px;
  height: 180px;
}


.button_1{
  height: 28px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
