<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/CSS/application.css">
  <title>Going Data Way</title>
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6982/6982581.png">

</head>

<main>
  <body>
    <ul>
      <li><a href="index.html"><img src="https://cdn-icons-png.flaticon.com/512/6982/6982581.png" alt="Icon" ></a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="application.html">Application</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="help.html">help</a></li>
        </ul>
    <h1>Welcome to Going Data Way</h1>

   
    
    <h2>Upload your CSV File here</h2>
    <form action="{{url_for('upload') }}" method="post" enctype="multipart/form-data">
      <label for="myfile">Choose a file to upload.</label>
      <input type="file" id="myfile" name="myfile" accept=".csv"><br><br>
      <input type="submit" value="Submit">
    </form>
   
       
    <div class="footer">
      <p>Copyright © 2022 Going Data Way All Rights Reserved</p>
    </div>

  </body>
</main>
</html>
