img{width: 80px;
    height: 80px;}
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(10, 99, 71);
      }
 li {float: left;}
 li a{display: block;
         color: white;
         padding: 8px 10px;
         text-decoration: none;
         font-size: 1.5em;}
     li a:hover:not(.active) {background-color: darkorange;}
 .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       text-align: center;
         }
     h1{
       text-align: center;
       color: rgb(10, 99, 71);
        }
    .button_1{
       height: 28px;
       background: #e8491d;
       border: 0;
       padding-left: 20px;
       padding-right: 20px;
        color: white;
         }