<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "../static/CSS/about.css">
  <title>About Us</title>
  <link rel="shortcut icon" href="../static/Favicon/Untitled_Artwork.png">
</head>
<main>
  <body>
    <ul>
      <li><a href="index.html"><img src="../static/Favicon/Untitled_Artwork.png" alt="Icon" ></a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="application.html">Application</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="help.html">help</a></li>
        </ul>
    <h1>About Us</h1>

    <h2>Group Members</h2>
        <p>Will Keegan</p>
        <p>Graham Schomp</p>
        <p>Tai Ngo</p>

 <div class="footer">
      <p>Copyright © 2022 Going Data Way All Rights Reserved</p>
    </div>

  </body>
</main>
</html>
