
img{width: 80px;
    height: 80px;
  }
  

 ul {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  list-style-type: none;
  overflow: hidden;
  background-color: #0047ca;
  border-radius: 25px;
  border: 2px solid #022b79;
  padding: 20px; 
  width: 960;
  height: 60px; 

 }
li {
  float: left;
      }
    
 li a{
   width: 20%;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1.5em;}
     li a:hover:not(.active) {background-color: #013ba5;}

  body{
      background-image: linear-gradient(to left, #1D2B64, #F8CDDA);
      background-attachment: fixed;
    }
h2{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

   
 .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       text-align: center;
         }
     h1{
       text-align: center;
       color: black;
       font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        } 

        #hello:hover {
          letter-spacing: 0.8em;
          background-color: #0059ff;
        }
        
        #hello {
          color: white;
        }
        button {
          height: 4em;
          width: 15%;
          padding: 1.5em auto;
          margin: 1em auto;
          background-color: #0059ff;
          border: none;
          border-radius: 3px;
          text-transform: uppercase;
          letter-spacing: 0.5em;
          transition: all 0.2s cubic-bezier(.4,0,.2,1);
         
        }
        